<div class="explanation-page">
  <section class="introduction">
    <h2>Introduction</h2>
    Hello! We're very happy that you've chosen us out of everyone else! This
    page will include everything needed so that your child can easily study
    English! In a matter of no time he'll be speaking it fluently and you'll be
    impressed of how fast he progerssed! Take yourself a few moments and read
    this page before fully diving in!
  </section>

  <section class="key-features">
    <h2>Key Features:</h2>
    <ul>
      <li>
        <b> Educational </b> - our application provides a wide and rich base of
        knowledge in English
      </li>
      <br />
      <li>
        <b> Personal Customization </b> - you as a parent can add whatever
        category of words you want your child to learn!
      </li>
      <br />
      <li>
        <b> Bilingual </b> - we support with translations of every single word
        from English to Hebrew, to ensure maximum efficiency and comfortability
        of the user!
      </li>
    </ul>
  </section>

  <section class="goals">
    <h2>Goals</h2>
    <h1 class="goal">
      <mark>We Have 1 Goal - Providing Educational Fun Experience.</mark>
    </h1>
  </section>

  <button
    mat-icon-button
    style="cursor: pointer"
    class="get-started"
    (click)="moveToHome()"
  >
    <mat-icon>home</mat-icon>
  </button>
</div>
