.card-container {
    width: 200px;
    background-color: #333;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
    margin: 2px;
    
}

.card-content {
    text-align: center;
}
