<div class="header">
  <div class="exit-button">
    <app-exit-game-button></app-exit-game-button>
  </div>
  <h1 class="title">Matching Game - {{ currentCategory?.name }}</h1>
  <div class="points-container">
    <app-points-display [earnedPoints]="totalPoints"></app-points-display>
  </div>
  <div *ngIf="!isGameOver()">
    <app-timer
      [duration]="timeGivenForGame"
      (timerFinished)="handleTimerFinished()"
    ></app-timer>
  </div>
</div>

<div *ngIf="showMessageIfNotEnough" class="handleMessageSit">
  {{ showMessageIfNotEnough }}
  <br />
  <button mat-raised-button color="primary" [routerLink]="['/cards']">
    Choose a Different Category
  </button>
</div>

<div
  *ngIf="(gameStarted && !isGameOver()) || timerFinished"
  class="game-content"
>
  <div class="word-columns">
    <div class="column english-words">
      <app-card-word
        *ngFor="let word of chosenWordsEnglish; let i = index"
        [word]="word.origin"
        [status]="englishWordStatus[i]"
        (click)="handleWordClicked(i); isGameOver()"
      ></app-card-word>
    </div>
    <div class="column hebrew-words">
      <app-card-word
        *ngFor="let word of chosenWordsHebrew; let i = index"
        [word]="word"
        [status]="hebrewWordStatus[i]"
        (click)="handleHebrewWordClicked(i); isGameOver()"
      ></app-card-word>
    </div>
  </div>
</div>

<div *ngIf="(gameStarted && isGameOver()) || timerFinished">
  <app-game-summary
    [currentCategoryName]="currentCategory?.name"
    [chosenWords]="chosenWordsEnglish"
    [numberOfAttempts]="totalAttempts"
    [totalPointsEarned]="totalPoints"
  ></app-game-summary>
</div>
