.title {
  text-align: center;
  align-items: center;
}

.game-content {
  display: flex;
  justify-content: center;
}

.word-columns {
  display: flex;
  justify-content: center;
}

.column {
  margin: 0 10px;
}

app-card-word {
  display: block;
  width: 200px !important; /* Increased width for larger size */
  height: 120px !important; /* Increased height for larger size */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.exit-button {
  margin-right: auto;
}

.points-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

mat-icon {
  font-size: 1.5em;
  margin-right: 8px;
}

app-points-display {
  font-weight: bold;
  font-size: 1.5em;
}

.handleMessageSit {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px; /* Adjust the height as needed */
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.handleMessageSit button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
