.dialog-content {
    padding: 20px;
}

.dialog-title {
    margin: 0;
    font-size: 1.2rem;
    color: #333; /* Adjust color as needed */
}

.game-select {
    width: 100%;
}

.dialog-actions {
    justify-content: flex-end;
    padding: 10px 20px;
}
