.dialog-content {
    padding: 20px;
}

.dialog-title {
    margin: 0;
    font-size: 1.2rem;
    color:white
}

.game-select {
    width: 100%;
}
.dialog-text{
    color:white;
}
.dialog-actions {
    justify-content: flex-end;
    padding: 10px 20px;
}
