/* Ensures the toolbar contents are flexibly laid out */
.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Centers the title and allows it to take up maximum available space */
.toolbar-center-title {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

/* Aligns icons to the right */
.toolbar-icons {
  display: flex;
  justify-content: flex-end;
}
