<h1><span>Activity Overview</span></h1>

<div class="dashboard-container">
    <mat-card class="info-card">
        <div class="title">
            <mat-card-title>
                Games Played 
            </mat-card-title>
            <mat-card-content> {{ gamesPlayedOverall.length }} </mat-card-content>
        </div>
    </mat-card>

    <mat-card class="points-card">
        <div class="points-title">
            <mat-card-title>
            Points Earned 
        </mat-card-title>
        <mat-card-content> {{ TotalPointsInAllGames }} </mat-card-content>
        </div>
        <div class="points-content">
        </div>
    </mat-card>
</div>
