<h1><span>Activity Overview</span></h1>

<div class="dashboard-container">
  <mat-card class="info-card">
    <div class="title">
      <mat-card-title> Games Played </mat-card-title>
      <mat-card-content> {{ gamesPlayedOverall.length }} </mat-card-content>
    </div>
  </mat-card>

  <mat-card class="points-card">
    <div class="points-title">
      <mat-card-title> Points Earned </mat-card-title>
      <mat-card-content> {{ TotalPointsInAllGames }} </mat-card-content>
    </div>
    <div class="points-content"></div>
  </mat-card>
  <mat-card class="category-most-played-card">
    <div class="most-played-title">
      <mat-card-title> Most Played Category </mat-card-title>
      <mat-card-content> {{ mostPlayedCategory }} </mat-card-content>
    </div>
  </mat-card>

  <mat-card class="perfect-games-card">
    <div class="perfect-games-title">
      <mat-card-title> Perfect Games </mat-card-title>
      <mat-card-content>
        {{ perfectGamesPercentage | percent }}
      </mat-card-content>
    </div>
  </mat-card>

  <mat-card class="average-gametime-card">
    <div class="average-gametime-title">
      <mat-card-title> Total Playtime </mat-card-title>
      <mat-card-content>
        {{ totalPlayedTimeInAllGames }}
      </mat-card-content>
    </div>
  </mat-card>
</div>
